<header id="header">
  <h2>Dashboard</h2>

  <nav>
    <ul>
      <li>{{#linkTo "index"}}Home{{/linkTo}}</li>
      <li>{{#linkTo "teamMembers"}}Team Members{{/linkTo}}</li>
      <li>{{#linkTo "sources"}}Sources{{/linkTo}}</li>
      <li>{{#linkTo "stories"}}Stories{{/linkTo}}</li>
    </ul>
  </nav>
</header>

<div id="content">
{{outlet}}
</div>
