<header id="header">
  <h2>Dashboard</h2>

  <nav>
    {{#linkTo "index"}}Home{{/linkTo}}
    {{#linkTo "teamMembers"}}Team Members{{/linkTo}}
    {{#linkTo "sources"}}Sources{{/linkTo}}
    {{#linkTo "stories"}}Stories{{/linkTo}}
  </nav>
</header>

{{outlet}}
