body {
  background: #fff;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  color: #222;
  position: relative;
  -webkit-font-smoothing: antialiased;
  padding-top: 34px;
}

h1 {
  font-size: 31px;

  small {
    font-size: 21px;
    color: #666;
  }
}

h2 {
  font-size: 19px;
}

h1,
h2 {
  font-weight: 300;
}

a {
  color: blue;
  text-decoration: none;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  color: #fff;
  background: #222;
  @include box-shadow(0 0 10px rgba(0,0,0,0.5));
  width: 100%;

  a {
    color: #fff;
  }

  h2 {
    float: left;
    line-height: 34px;
    padding: 0 10px;
  }

  nav {
    float: right;
    display: inline-block;

    ul {
      display: inline-block;
      float: left;

      li {
        float: left;
        display: inline-block;

        a {
          display: inline-block;
          padding: 10px;

          &.active {
            background: rgba(255,255,255,0.2);
            text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
          }
        }
      }
    }
  }
}

#content {
  padding: 20px 40px;

  h1 {
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 20px;

    li {
      line-height: 21px;
      font-size: 17px;
    }
  }
}
